extends layout

include components/title

block title
    title!= title

block content
    +title('Categories')
    div
        form
            ul.uk-list.uk-list-divider
                each category in categories.reverse()
                    - const name = category.name
                    - const slug = category.slug
                    - const id = category._id

                    li.js-container
                        .uk-grid-small(uk-grid='')
                            .uk-width-expand
                                .uk-grid-small(uk-grid='')
                                    .uk-width-1-2
                                        input.uk-input(type='text', name='name' value=`${name}`)
                                    .uk-width-1-2
                                        input.uk-input(type='text', name='slug', value=`${slug}`)
                            div
                                button.uk-icon-button.uk-margin-small-right.js-button-edit(type='button', data-id=`${id}`, uk-icon='check')
                                button.uk-icon-button.js-button-delete(type='button', data-id=`${id}`, uk-icon='trash'  )