mixin postTable(posts)
    table.uk-table.uk-table-justify.uk-table-divider
        thead
            tr
                th.uk-width-small Date
                th Title
                th Category
                th Status
                th Comments
                th.uk-text-right Actions
        tbody
            each post in posts
                - const id = post._id
                - const date = formatedDate(post.createdAt)
                - const header = post.title
                - const category = post.category.name
                - const categorySlug = post.category.slug
                - const postSlug = post.slug
                - const status = post.published
                - const comments = post.comments
                - const commentsNotApproved = comments.filter(comment => !comment.approved)

                tr.js-container
                    td= date
                    td
                        a(href=`/${categorySlug}/${postSlug}`, target='_blank').uk-link-muted= header
                    td= category
                    td= status ? 'Published' : 'Draft'
                    td
                        = `${comments.length}/${commentsNotApproved.length}`
                        a(href=`comments/${id}`, uk-icon='chevron-double-right').uk-icon-button.uk-margin-small-left
                    td
                        .uk-grid-small(uk-grid='')
                            .uk-width-1-2
                                a.uk-icon-button(href=`edit-post/${id}`, uk-icon='pencil')
                            .uk-width-1-2
                                button.uk-icon-button.js-delete-post(type='button', data-id=id, uk-icon='trash')